.container {
    --dark_black_blue: rgba(33, 44, 61, 0.5);
    --light_grey: rgba(98, 107, 120, 0.2);
    --grey_blue: rgba(28, 67, 122, 0.5);
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: url("dark_castle.jpg");
}
h1 {
    text-align: center;
    font-family: 'Almendra', serif;
    color: white;
    font-size: 45px;
    border-bottom: solid 1px white;
}
.main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
    column-gap: 2px;
    grid-template-areas: 
    "sidebar topnav topnav"
    "sidebar content content"
    "sidebar footer footer";
}
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    grid-area: topnav;
    overflow: hidden;
    margin-top: 5px;
    border-radius: 10px;
    border-color: var(--light_grey);
}

.topnav a {
    float: left;
    display: block;
    color:grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav a:hover {
    background-color: var(--light_grey);
    color: black;
}

.topnav a.active {
    background-color: var(--dark_black_blue);
    color: grey;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--light_grey);
    border-radius: 5px;
}
.content {
    grid-area: content;
    background-color: var(--dark_black_blue);
}
.footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.5)
}

/* Slide Show  */
/* *{box-sizing: border-box;} */
.slide-show-box {
    max-width: 1000%;
    position: relative;
    margin: auto;

}

/* hide by default */
.slide {
    display: none;
}

/* next and previous btn */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* position next to right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* text decoration  */
.text{
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text-num{
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
  }
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}